.sticky-bar{
  color: #fff;
  position: fixed;
  right: -300px;
  top: 50%;
  transition: all .3s ease;
}
.sticky-bar:hover{
  right: 0px;
}
.sticky-tab{
  float: left;
  padding: 16px;
  background-color: #6DAD53;
}
.sticky-content{
  float: right;
  color: #000;
  background-color: rgba(229,239,229, .9);
}
