<div class="container-for-parallax-layers">
  <div class="background layer"></div>
  <div class="midground layer"></div>
  <div class="foreground layer"></div>
</div>
.layer {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;

  padding-top: 10vh;
  padding-bottom: 100vh;

}

.container-for-parallax-layers {
  /* ... but the magic here is primarily in (1) the perspective property ... */
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}


.background {
 
  transform: translateZ(-2px) scale(3);
  background-image: url("img/mountain.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.midground {
  transform: translateZ(-1px) scale(2);
  background-image: url("img/treeline-midd.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.foreground {
  transform: translateZ(0);
  background-image: url("img/treeline-fore.png");
  background-repeat: no-repeat;
  background-size: cover;
}
